/* DEFAULT GLOBAL STYLING */
:root {
    --bg-color-A: rgb(35, 38, 40);
    --bg-color-A-shaded: rgb(51, 55, 57);
    --bg-color-B: rgb(20, 20, 20);
    --bg-color-B-hover: rgb(41, 41, 41);
    --bg-color-B-border: rgb(54, 58, 60);
    --color-A: rgb(179, 179, 179);
    --color-A-shaded: rgb(207, 207, 207);
    --color-B: rgb(150, 150, 202);
    --color-B-hover: rgb(100, 100, 152);
}
* {
    color: var(--color-A);
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: var(--bg-color-A);
    margin: 0;
    bottom: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button, .button{
    background-color: var(--color-B);
    border-radius: 2px 10px 2px 10px;
    margin: 3px 0px;
    border: 3px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
}
button:hover, .button:hover {
    background-color: var(--color-B-hover);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-A);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--bg-color-B);
    border-radius: 10px;
}

/* GLOBAL TEXT */
h1 {
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
h2 {
    color: var(--color-B);
    font-size: 50px;
    width: 100%;
    margin: 10px 0px 2px 0px;
}
h3 {
    width: 100%;
    margin-top: 0;
}
p {
    margin: 2px 0px 10px 0px
}
h1.page-title {
    width: 100%;
    margin-top: 0;
}
.home-title {
    color: var(--color-A);
}
/* Global Elements End HERE*/

/* SECTIONS */
header {
    background-color: var(--bg-color-B);
    border-bottom: 1px solid var(--bg-color-B-border);
    min-height: 50px;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 10%;
}
section {
    min-height: 50vh;
    padding: 5vh 10%;
}
footer {
    background-color: var(--bg-color-B);
    padding: 10px 10% 50px 10%;
}
.section-title {
    text-align: center;
	font-size: 28px;
}
#about, #featured, #contact{
    margin: 20px;
}
/* Header */
header {
    list-style-type: none;
    height: 80px;
    display: flex;
}
header > a {
    color: var(--color-A);
    padding: 0 10px;
    text-decoration: none;
    padding-top: 30px;
}
header > a.nav-item:hover {
    background-color: var(--bg-color-B-hover);
}
#header-blank {
    flex-grow: 1;
}
/* Footer */
ul.site-contact {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0px 40px;
}
footer, ul.site-contact > li > strong, ul.site-contact > li > a, .site-contact > strong, .github-credits {
    color: var(--color-A);
}
.github-credits, .github-credits > a {
    font-size: 10px;
}

/* Landing */
section.landing {
    background-image: url(assets/png/landingimage.jpg);
    background-color: var(--bg-color-B);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-A);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
section.landing > div {
    display: flex;
    flex-direction: column;
}
.code { color: white; margin: 2px 0px 2px 0px; }
.code-key { color: purple; }
.code-method { color: greenyellow; }
.code-type { color: teal; }
#name, #alias { text-align: center; }
#name {
    color: var(--color-B);
}

#alias {
    color: var(--color-A);
}
#aka {
    color: var(--color-B);
    font-size: 25px;
}
/* About */
section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	font-size: 24px;
}
section.about > h2, section.about > p {
    text-align: center;
    margin-bottom: 2%;
}
/* Feature / Project Listing */
section.feature,
section.project-listing-darkened {
    background-color: var(--bg-color-A-shaded);
}
section.project-listing {
    display: flex;
	font-size:20px;
}
section.project-listing > img {
    margin-bottom: auto;
    width: 50%;
}
/* Contact */
section.contact > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
section.contact > div > form, #contact-links, #contact-links > a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section.contact > div > form {
    width: 50%;
}
section.contact > div > form > input, #contact-message{
    padding: 5px;
    margin: 5px;
    width: 100%;
}
#contact-message {
    height: 300px;
}
.circle-img {
    height: 100px;
}

/* PROJECT PAGE */
/* Project Info */
section.project-info {
    min-height: 30vh;
    display: flex;
    gap: 20px;
	font-size:20px;
}
.project-description{
	font-size: 22px;
}
section.project-info > img {
    display: block;
    margin-bottom: auto;
    max-height: 30vh;
    max-width: 30vw;
}
section.project-info > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
div.project-info {
    width: 100%;
    display: flex;
    gap: 30px;
}
/* Project Media */
section.project-media {
    background-color: var(--bg-color-A-shaded);
    max-height: 52vh;
    display: flex;
    gap: 5px;
}
section.project-media > img{
    width: 80%;
}
div.project-media {
    overflow-x: scroll;
    display: flex;
    gap: 5px;
}

/* STORE LINKS */
.store {
    width: 100px;
}
.web {
    background-color: var(--color-B);
    color: var(--color-A);
}
.web:hover {
    background-color: var(--color-B-hover);
}
.github {
    background-color: #bdbdbd;
    color: #24292f;
} 
.steam:hover { background-color: #171a21d2; }
.epicgames {
    background-color: #2a2a2a;
    color: #e7e7e7;
} .epicgames:hover { background-color: #2a2a2ad5; }
.itch {
    background-color: #FF2449;
    color: white;
} .itch:hover { background-color: #ff2448d7; }
